<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>中正圖書館</string>
	<string>四維堂</string>
	<string>外框A</string>
	<string>外框B</string>
	<string>外框C</string>
	<string>外框D</string>
	<string>校碑</string>
	<string>綜合大樓</string>
	<string>蔣公銅像</string>
	<string>體育館</string>
</array>
</plist>
