<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>frame_a</string>
	<string>frame_b</string>
	<string>frame_c</string>
	<string>frame_d</string>
	<string>frame_e</string>
	<string>frame_f</string>
	<string>frame_g</string>
	<string>frame_h</string>
	<string>frame_i</string>
	<string>frame_j</string>
</array>
</plist>
