<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>bus</string>
	<string>學士帽</string>
	<string>學士服</string>
	<string>小橘</string>
	<string>杏花</string>
	<string>纜車</string>
	<string>茶具</string>
	<string>麵疙瘩</string>
	<string>李四端</string>
	<string>陶晶瑩</string>
</array>
</plist>
