<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>bus</string>
	<string>cat</string>
	<string>cloth</string>
	<string>flower</string>
	<string>hat</string>
	<string>noodle</string>
	<string>tea</string>
	<string>text_sticker_a</string>
	<string>text_sticker_b</string>
	<string>text_sticker_c</string>
	<string>text_sticker_d</string>
	<string>tram</string>
</array>
</plist>
